@import '../node_modules/bulma/sass/utilities/initial-variables';
@import '../node_modules/bulma/sass/utilities/functions';

$orange: #e74c3c;

$danger: $orange;

$info: #3498db;

$box-radius: $radius-small;

.instruction {
  padding-top: 5%;
}

.ellipsis-icon:hover {
  background-color: $grey-lighter;
  border-radius: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.forgot-password-link {
  margin-top: 5%;
}

.reset-password-h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.close-modal-div {
  margin-left: 95%;
  margin-bottom: 5%;
}

.comment-time-separator {
  margin-left: 1%;
  margin-right: 1%;
}

.user-comment {
  margin-top: 2%;
}

.comment-level-item {
  margin-left: 5%;
  cursor: pointer;
}

.submit-comment-button {
  margin-left: 70%;
}

.comment-reply-text {
  font-size: 0.85em;
  margin-left: 10%;
}

.ticket-box {
  margin-top: 2%;
}

.text-editor {
  padding-bottom: 10%;
}

.current-comment-user {
  margin-top: 5%;
  font-size: 0.8em;
  font-family: 'Titillium Web', sans-serif;
}

.comment-toolbar {
  display: flex;
  border-top: solid 1.7px rgba(30, 30, 37, 0.15);
  padding: 0;
  margin: 0 0 0;
}

.ticket-controls {
  margin-left: 1%;
}

.confirm-delete-text {
  font-size: 0.75em;
}

.confirm-ticket-delete {
  margin-right: 3%;
}

.ticketpage-creator {
  font-size: 0.7em;
  margin-left: 1%;
}

.ticketpage-title {
  margin-left: 1%;
  margin-bottom: 0% !important;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.comment-text {
  font-size: 0.9em;
}

.commenter-username {
  color: $orange;
  font-size: 0.75em;
}

.ticket-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2em;
}

.homehero {
  padding-top: 5%;
}

.expand-content-icon {
  font-size: 2em;
  margin-right: 4%;
}

.ticket-creation-info {
  font-size: 0.75em;
  color: $grey-light;
}

.expand-content-icon:hover {
  color: $blue;
}

.comment-select-div {
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 1%;
}

.username-input {
  margin-top: 2%;
}

.no-comment-div {
  margin-top: 10%;
  margin-bottom: 10%;
}

.comment-wrapper-div {
  margin-top: 2%;
  border-top: 0.05em solid $grey-lighter;
  margin-bottom: 1%;
}

.sort-text {
  margin-top: 4%;
  display: inline-block;
}

.password-input {
  margin-top: 1%;
  padding-bottom: 5%;
}

.comment-sorting-select {
  display: inline-block !important;
}

.avatarcard {
  margin-top: 2%;
}

.not-registered-text {
  font-size: 0.75em;
  padding-top: 3%;
}

.instruction-section {
  margin-bottom: 5%;
}

.ticket-form-container {
  margin-top: 10%;
}

.form-container {
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 40%;
}

.ticket-action-text:hover {
  text-decoration: underline;
}

.ticket-actions:hover {
  text-decoration: underline;
}

.ticket-action-text {
  font-family: monospace;
  font-size: 0.65em;
}

.delete-span-text {
  margin-right: 2%;
}

.ticket-actions {
  font-size: 0.75em;
  margin-left: 1%;
}

.specific-ticket-action {
  font-size: 0.75em;
  color: #000;
}

.search-field {
  margin-top: 1.25%;
}

.navbar-user-icon {
  margin-bottom: 3%;
  font-size: 1.8em;
}

.specific-ticket-action:hover {
  text-decoration: underline;
}

.videocontainer {
  margin-top: 2%;
}

.sport-select {
  margin-right: 50%;
}

.result-header-text {
  font-family: monospace;
  margin-left: 2%;
  font-weight: bold;
}

.dropdown.is-fullwidth {
  display: flex;

  .dropdown-trigger,
  .dropdown-menu {
    width: 94%;
    margin-left: 3%;
  }
}

.search-input {
  width: 30em !important;
}

.register-error-text {
  visibility: hidden;
}
@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulma-tooltip/dist/css/bulma-tooltip.sass';
