@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$orange: #d17c56;

$danger: $orange;

$info: #417e8d;

.instruction {
  padding-top: 5%;
}

.confirm-delete-button {
  margin-top: 2%;
  display: inline-block;
}

.homehero {
  padding-top: 5%;
}

.delete-ticket-button {
  margin-top: 2%;
}

.avatarcard {
  margin-top: 2%;
}

.instruction-section {
  margin-bottom: 5%;
}

.form-container {
  margin-top: 5%;
}

.add-video-form {
  margin-top: 5%;
}

.videocontainer {
  margin-top: 2%;
}

.sport-select {
  margin-right: 50%;
}

.register-error-text {
  visibility: hidden;
}
@import "../node_modules/bulma/bulma.sass";
